<main>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/']">
          <img class="brand-logo" src="/assets/logo.png" alt="logo" aria-hidden="true" />
        </a>
      </li>
      <li><a [routerLink]="['/devices']">devices</a></li>
      <li><a [routerLink]="['/locations']">locations</a></li>
    </ul>
  </nav>
  <!-- <a [routerLink]="['/']">
    <div class="brand-name">
      
    </div>
  </a> -->
  <section class="content">
    <router-outlet>
    </router-outlet>
  </section>
</main>