<table>
    <thead>
        <tr>
            <th> </th>
            <th>autoname</th>
            <th>ip address</th>
            <th>location</th>
        </tr>
    </thead>
    <tbody>
        @for (device of deviceList; track device.id) {
        <tr [ngClass]="{'expanded-row': expandedRowIndex === device.id}">
            <td>
                <button (click)="toggleDetails(device.id)">{{ device.id === expandedRowIndex ? '&#9660;' : '&#9654;' }}</button>
            </td>
            <td>{{ device.name }}</td>
            <td>{{ device.ip }}</td>
            <td>{{ device.location}}</td>
        </tr>
        @if (expandedRowIndex === device.id) {
        <tr class="expanded-row">
            <td></td>
            <td colspan="3">
                <div>{{device.details}}</div>
            </td>
        </tr>
        }
        }
    </tbody>
</table>