/* You can add global styles to this file, and also import other style files */

.brand-logo {
    width: 100px;
    height: 100px;
}

.filters {
    border-style: solid;
    border-radius: 0.5em;
    border-color: darkcyan;
    padding: 1em;
}